* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.lista__imagen{
    width: 100px;
    height: 100px;
}

.lista__item a{
    text-decoration: none;
}

.lista__item a:hover{
    color: red;
}

.tarjeta {
    width: 80%;
    min-width: 300px;
    max-width: 400px;
    min-height: 300px;
    background-color: blue;
    margin: 0 auto;
}

.tarjeta__titulo {
    background-color: red;
    color: white;
    border-radius: 4px;
    margin: 0 auto;
}

.tarjeta__imagen img {
    width: 200px;
    height: 200px;
}

.tarjeta__parrafo {
    background-color: yellow;
    color: white;
    border-radius: 4px;
    padding: 0 auto;
}