.lista__imagen{
    width: 100px;
    height: 100px;
}

.lista__item a{
    text-decoration: none;
}

.lista__item a:hover{
    color: red;
}


.tarjeta__imagen {
    width: 200px;
    height: 200px;
}