* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.lista__imagen{
    width: 100px;
    height: 100px;
}

.lista__item a{
    text-decoration: none;
}

.lista__item a:hover{
    color: red;
}

.tarjeta {
    width: 80%;
    min-width: 300px;
    max-width: 400px;
    min-height: 370px;
    border-radius: 25px;
    background-color: gray;
    margin: 20px auto;
}

.tarjeta__titulo {
    width: 150px;
    height: 35px;
    background-color:black;
    color: white;
    border-radius: 15px;
    padding-top: 7px;
    padding-left: 45px;
    position: relative;
    left: 125px;
    bottom: 20px;
}

.tarjeta__imagen img {
    border-radius: 10px;
    margin-left: 100px;
    width: 200px;
    height: 200px;
}

.tarjeta__parrafo {
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 50px;
    width: 300px;
}




.cabecera {
    background-color: red;
}

.cabecera__logo {
    height: 100px;
    width: 100px;
    display: inline-block;
    width: 63%;
}

.cabecera__nav {
    display: inline-block;
    width: 35%;
}

.cabecera__nav ul{
    list-style-type: none;
}

.cabecera__nav li{
    display: inline-block;
}

.cuerpo {
    background-color: yellow;
}

.cuerpo__articulos {
    background-color: violet;
    display: inline-block;
    width: 20%;
}

.cuerpo__articulos img{
    width: 100px;
    height: 100px;
    margin: 10px auto;
}

.cuerpo__contenido {
    background-color: blue;
    display: inline-block;
    width: 75%;
}

.pie-de-pagina {
    background-color: green;
}

.pie-de-pagina__contacto {
    background-color: blueviolet;
    display: inline-block;
    width: 80%;
}

.pie-de-pagina__creditos {
    background-color: orange;
    display: inline-block;
    width: 18%
}